/* Estilos para hacer que el contenedor de la cámara sea un círculo */
.camera-container {
    margin-top: 10%;
    width: 350px; /* Ajusta el tamaño según lo necesites */
    height: 350px;
    border-radius: 50%; /* Hacerlo circular */
    overflow: hidden; /* Asegura que el video quede dentro del contenedor circular */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Fondo negro para la cámara */
    position: relative;
    margin: auto; /* Centrar horizontalmente */
  }
  
  /* Estilos para el video dentro del contenedor circular */
  .camera-container video {
    width: 100%; /* Hacer que el video se ajuste al contenedor circular */
    height: 100%;
    object-fit: cover;
  }
  
  /* Otros estilos adicionales */
  .close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    color: white;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
  
  .header-text {
    text-align: center;
    color: white;
  }
  
  .country {
    font-weight: bold;
  }
  