<ion-header class="ion-no-border">
  <ion-toolbar slot="center" color="light" class="centered-header">
    <ion-title class="centered-title">Video Selfie</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeOverlay()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="camera-container">
    <div class="video-wrapper">
      <video #videoElement muted autoplay playsinline></video>
      <svg class="progress-ring" #progressRing width="300" height="300">
        <circle class="progress-ring__circle" cx="150" cy="150" r="140" />
      </svg>
    </div>
    <div class="fixed-footer">
      <ion-button *ngIf="!isRecording" expand="block" (click)="startRecording()">Iniciar Grabación</ion-button>
      <ion-button *ngIf="isRecording" expand="block" (click)="stopRecording()" [disabled]="!isRecording">Detener Grabación</ion-button>
    </div>
  </div>
</ion-content>
