<ion-header>
  <ion-toolbar>
    <ion-title>Video Selfie</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeOverlay()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="camera-container">
    <div class="video-wrapper">
      <video #videoElement muted autoplay playsinline></video>
      <svg class="progress-ring" #progressRing width="300" height="300">
        <circle class="progress-ring__circle" cx="150" cy="150" r="140" />
      </svg>
    </div>
    <ion-button (click)="startRecording()">Iniciar Grabación</ion-button>
    <ion-button (click)="stopRecording()" [disabled]="!isRecording">Detener Grabación</ion-button>
  </div>
</ion-content>
