<ion-content color="light" class="custom-content">
  <div *ngIf="isLoading" class="loading-overlay">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  
  <div *ngIf="countdown > 0" class="countdown-overlay">
    <div class="countdown">{{ countdown }}</div>
  </div>
  <ion-header class="ion-no-border">
    <ion-toolbar color="light">
      <!-- <ion-title class="centered-title">Video Selfie</ion-title> -->
      <ion-buttons slot="end">
        <ion-button (click)="closeOverlayVideo()" [disabled]="!canStopRecording">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Contenedor de la cámara y progresión -->
  <div class="camera-container">
    <div class="video-wrapper">
      <video #videoElement muted autoplay playsinline></video>
      <svg class="progress-ring" #progressRing width="300" height="300">
        <circle class="progress-ring__circle" cx="150" cy="150" r="150" />
      </svg>
    </div>
    <ion-label [ngClass]="{'red': isRecording}">00:{{ timeRemaining < 10 ? '0' + timeRemaining : timeRemaining
        }}</ion-label>
        <p class="text-center">Permanece quieto, con tu rostro en el centro del circulo</p>
        <!-- Botones de grabación -->
        <div class="fixed-footer">
          <ion-button *ngIf="!isRecording" expand="block" (click)="recordVideo()">Iniciar Grabación</ion-button>
          <ion-button *ngIf="isRecording" expand="block" (click)="stopRecording()" [disabled]="!canStopRecording">Detener
            Grabación</ion-button>
        </div>
  </div>
</ion-content>