
.content {
    padding: 10px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
}


h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #ff8c00; // Color similar al amarillo-naranja del título
    text-align: center;
    margin-top: 20px;
  }
  
  p {
    font-size: 1em;
    color: #666;
    text-align: center;
    margin: 0;
  }
  
  ion-grid {
    margin-top: 20px;
  }
  
  ion-row {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ion-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  ion-icon {
    font-size: 3em; // Tamaño del ícono para que sea más destacado
    color: #ff8c00; // Color similar al amarillo-naranja
    margin-bottom: 10px;
  }
  
  //Boton
  ion-button {
    color: #ffffff;
    font-weight: 50px;
    border-radius: 20px;
    margin-top: 20px;
    //width: 90%;
    //max-width: 300px;
    align-self: center;
    text-transform: none;

    --background: #0071ce;
    --background-hover: #0071ce;
    --background-activated: #005da9;
    --background-focused: #005da9;
  
    --color: blue;
  
    --border-radius: 20px;
    --border-color: #0071ce;
    --border-style: solid;
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: #034882;
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  }

.container-text {
  text-align: justify !important;
    width: 180px;
}

p {
  text-align: justify;
}

.p-center{
text-align: center;
}

.p-justify{
  text-align: justify;
  }

.head {
    padding: 30px;
    margin-top: 50px;
}


.verify-container {
   // padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45%; // Ocupa todo el espacio disponible en el ion-content
    text-align: center;
    //background-color: black;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff; // Color de fondo, opcional
   // box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); // Sombra suave para que resalte
  
    ion-button {
      width: 90%;
      max-width: 300px;
      margin: 0 auto;
      background-color: #ffcc00;
      color: #ffffff;
      font-weight: bold;
      border-radius: 20px;
  
      &:hover {
        background-color: #ffb300;
      }
  
      &:active {
        background-color: #e6a800;
      }
    }
  }

  .dpi-container {
    display: flex;
    //width: 100%;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
.dpi-image {
    width: 200px;
}

.image-container {
    width: 100px;
}

.col-confirmation {
  margin-top: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Ajusta el espacio entre los elementos */
}

.image-item {
  margin-top: 50px;
  padding-top: 70px;
}

.font-confirmation {
  font-size: 26px;
  text-align: center;
  color: #005da9;
  font-weight: bold;
}


.rounded-input {
  margin-top: 15px;
  background-color: #f4f6fc; /* Color de fondo suave */
  border-radius: 10px; /* Bordes redondeados */
  padding: 5px 5px; /* Espaciado interno */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  --ion-border-color: transparent; /* Quita cualquier borde por defecto */
}



.rounded-input ion-input {
  font-size: 14px; /* Tamaño de texto */
  color: #333; /* Color del texto */
}

.rounded-input::part(native) {
  background: transparent; /* Fondo transparente para evitar conflictos */
}

.p-info{
  font-weight: bold;
  color: #714e93
}