<swiper-container init="false" class="custom-swiper"> 
  <swiper-slide>
    <div class="content">
      <div class="head">
        <h2 class="p-justify">Verifiquemos tu identidad</h2>
        <p class="p-justify">Para completar tu verificación, por favor ingresa tu número de identificación (DPI).</p>
        <ion-item class="rounded-input">
          <ion-input #dpi type="number" disabled="true" placeholder="Digita tu número de DPI"></ion-input>
        </ion-item>
      </div>
      <ion-grid class="verify-container">
        <ion-row>
          <ion-row>
            <div class="image-container">
              <img src="assets/imagesIdvision/documentsImage.png" alt="" />
            </div>
            <div class="container-text">
              <p>Sube fotos de documentos que prueben tu identidad</p>
            </div>
          </ion-row>
        </ion-row>
        <ion-row>
          <ion-row>
            <div class="image-container">
              <img src="assets/imagesIdvision/rostroImage.png" alt="" />
            </div>
            <div class="container-text">
              <p>Graba un video selfie mientras lees el texto en voz alta</p>
            </div>
          </ion-row>
        </ion-row>
      </ion-grid>

      <div class="fixed-footer">
        <ion-button class="custom-button" expand="block" (click)="handleClick()">Empecemos</ion-button>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide *ngIf="showDpiFront">
    <div class="content">
      <div class="head">
        <h2>Coloca la parte frontal de tu DPI</h2>
        <p class="p-center p-info">
          Evita sombras, reflejos y coloca tu documento dentro del recuadro.
        </p>
       
      </div>
      <div class="dpi-container">
        <video id="dpiFront" autoplay loop muted playsinline  width="1280" height="300">
          <source src="assets/imagesIdvision/Dpi-front.mp4" type="video/mp4">
        </video>
      </div>

      <div class="fixed-footer">
        <ion-button class="custom-button" expand="block" (click)="openCameraOverlayFrontal()">Tomar una foto</ion-button>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide *ngIf="showDpiBack">
    <div class="content">
      <div class="head">
        <h2>Coloca el reverso de tu DPI</h2>
        <p class="p-center p-info">
          Evita sombras, reflejos y coloca tu documento dentro del recuadro.</p>
      </div>
      <div class="dpi-container">
        <video id="dpiBack" autoplay loop muted playsinline width="1280" height="300">
          <source src="assets/imagesIdvision/Dpi-back-1.mp4" type="video/mp4">
        </video>
      </div>

      <div class="fixed-footer">
        <ion-button class="custom-button" expand="block" (click)="openCameraOverlayTrasero()">Tomar una foto</ion-button>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide *ngIf="showVideoSelfie">
    <div class="content">
      <div class="head">
        <h2>Video Selfie</h2>
        <p class="p-justify">Graba un breve video para completar tu proceso de identificación.</p>
      </div>
      <ion-grid class="verify-container">
        <br/>
        <br/>
        <br/>
        <ion-row>
          <ion-row>
            <div class="image-container">
              <img src="assets/imagesIdvision/Foco.png" alt="" />
            </div>
            <div class="container-text">
              <p>
                Si estás en interiores, asegúrate de que la luz esté frente a ti, no detrás.
              </p>
            </div>
          </ion-row>
        </ion-row>
        <ion-row>
          <ion-row>
            <div class="image-container">
              <img src="assets/imagesIdvision/rostroImage.png" alt="" />
            </div>
            <div class="container-text">
              <p>
                Asegúrate de que tu rostro sea visible y de no usar anteojos ni
                sombreros.
              </p>
            </div>
          </ion-row>
        </ion-row>
        <ion-row>
          <ion-row>
            <div class="image-container">
              <img src="assets/imagesIdvision/Selfie-rostro.png" alt="" />
            </div>
            <div class="container-text">
              <p>
                Activa la cámara frontal y verifica que tu rostro esté bien centrado..
              </p>
            </div>
          </ion-row>
        </ion-row>
      </ion-grid>

      <div class="fixed-footer">
        <ion-button class="custom-button" expand="block" (click)="openAcuerdoVideo()">Abrir la cámara</ion-button>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="content">
      <ion-col class="col-confirmation" *ngIf="isAllValid()">
        <ion-item color="white">
          <p class="font-confirmation">
            Información procesada de manera correcta
          </p>
        </ion-item>
        <ion-item color="white" class="image-item">
          <img src="assets/imagesIdvision/blue-check.png" alt="" />
        </ion-item>
      </ion-col>

      <ion-col class="col-confirmation" *ngIf="!isAllValid()">
        <ion-item color="white">
          <p class="font-confirmation">
            Ocurrió un error al procesar la información 
          </p>
        </ion-item>
        <ion-item color="white" class="image-item">
          <img src="assets/imagesIdvision/blue-check.png" alt="" />
        </ion-item>
      </ion-col>
      <ion-item color="white">
        <div class="fixed-footer">
          <ion-button class="custom-button" expand="block" (click)="handleExit()">Salir</ion-button>
        </div>
      </ion-item>
    </div>
  </swiper-slide>
</swiper-container>