
<h2>Verifiquemos tu identidad</h2>
<p>Para ser verificado, necesitarás:</p>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-icon name="document-outline"></ion-icon>
      <p>Sube fotos de documentos que prueben tu identidad</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-icon name="videocam-outline"></ion-icon>
      <p>Graba un video selfie mientras lees el texto en voz alta</p>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-button expand="block" (click)="goToNext()">Empecemos</ion-button>