<ion-content color="dark">
  <div class="camera-overlay">
    <div class="header-text">
      <p>{{text1}}</p>
      <p class="country">{{text2}}</p>
    </div>

    <!-- Video de la cámara con el overlay centrado -->
    <div class="camera-container">
      <video #videoElement autoplay muted playsinline></video>
      <div class="overlay-mask"></div>

      <img [src]="overlaySrc" alt="Overlay" class="overlay-frame" />
    </div>

    <!-- Botón de captura centrado en la parte inferior -->
    <div class="button-container">
      <ion-button (click)="capturePhoto()" class="capture-button" expand="block">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
    </div>

    <!-- Botón de cerrar en la esquina superior derecha -->
    <ion-button fill="clear" (click)="closeOverlay()" class="close-button">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
