ion-content {
  --background: black;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.modal-container {
  max-width: 400px; // Ajusta el valor según tus necesidades

}

.camera-overlay {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.camera-container {
  width: 100%;
  height: 100%;
  position: relative;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overlay-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  max-height: 70%;
  z-index: 9;
}

.header-text {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 15;

  p {
    margin: 0;
    font-size: 18px;
  }

  .country {
    font-weight: bold;
  }
}

.button-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.capture-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;


  --background: var(--purple-primary);
    --background-hover: var(--purple-secondary);
    --background-activated: var(--purple-secondary);
    --background-focused: var(--purple-secondary);
  
    --color: white;
  
    --border-color: var(--purple-primary);
    --border-style: solid;
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: var(--purple-secondary);
}

.close-button {
  position: absolute;
  top: 14px;
  right: 20px;
  color: white;
  z-index: 10;
}

.visible-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // width: 70%; /* Ajusta el tamaño del cuadro */
  // height: 45%; /* Ajusta el tamaño del cuadro */

  width: 313px;
  height: 500px;

  max-width: 90%;
  max-height: 90%;
  background: transparent;
  border: 2px solid white; /* Color y grosor del borde */
  border-radius: 10px; /* Ajusta para redondear las esquinas */
  z-index: 10; /* Asegúrate de que esté encima del overlay oscuro */
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.65); /* Oscurece fuera del cuadro */
}
.text-help  p{
  display: inline-block; /* Hace que solo el texto ocupe espacio */
  background-color: white; /* Color de fondo del texto */
  padding: 5px; /* Espaciado interno para una mejor visualización */
  border-radius: 5px; /* Opcional, para esquinas redondeadas */
  color: black; /* Color del texto */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
  animation: popIn 1s ease-in-out; /* Agrega la animación al aparecer */
}

/* Definimos la animación "popIn" */
@keyframes popIn {
  0% {
    transform: scale(0.8); /* Comienza más pequeño */
    opacity: 0; /* Empieza invisible */
  }
  50% {
    transform: scale(1.1); /* Crece un poco más de lo normal */
    opacity: 1; /* Se hace visible */
  }
  100% {
    transform: scale(1); /* Vuelve a su tamaño normal */
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegúrate de que esté por encima del contenido */
}

ion-spinner {
  color: white;
  width: 50px;
  height: 50px;
}



.camera-select {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 999;
  display: flex;
  align-items: center;
  color: white;

  label {
    margin-right: 0.5rem;
    font-size: 14px;
  }

  select {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0.3rem;
    font-size: 14px;
    padding: 0.2rem;
  }
}

.buttonfabCameraChange {
  --background: rgba(0, 0, 0, 0.6);
  --color: #fff;
  //box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  /* ajusta posición extra si lo necesitas */
  /* margin-top: 8px; margin-left: 8px; */
}
